.layoutHeader {
    color: #fff;
    background-color: #4096ff;
    display: flex;
    justify-content: space-between
}

.layoutContent {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 24px 48px;
}

.layoutFooter {
    text-align: center;
    color: #fff;
    background-color: #4096ff;
}

.layout {
    min-height: 100vh !important;
}
