.layoutHeader {
    color: #fff;
    height: var(--header-height);
    background-color: #4096ff;
    display: flex;
    justify-content: space-between
}

.layoutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;
}

.layoutFooter {
    height: var(--footer-height);
    text-align: center;
    color: #fff;
    background-color: #4096ff;
}

.layout {
    min-height: 100vh !important;
}
